* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --branding-color: #ff7f50;
  --secondary-color: cornsilk;
  --highlight-Color: #d2691e;
  --muted-color: #a9a9a9;

  --level1-margin: 1px;
  --level2-margin: 5px;
  --level3-margin: 10px;
  --level4-margin: 15px;
  --level5-margin: 20px;

  --level1-padding: 1px;
  --level2-padding: 5px;
  --level3-padding: 10px;
  --level4-padding: 15px;
  --level5-padding: 20px;

  --small-size: 12px;
  --medium-size: 16px;
  --large-size: 20px;
  --extralarge-size: 30px;
  --doubleextralarge-size: 50px;
  --tripleextralarge: 100px;
}

.introduction {
  background-color: var(--secondary-color);
  padding: var(--level5-padding);
}

h1 {
  color: var(--branding-color);
  font-size: var(--tripleextralarge);
}
